
    body {
   background: white;
   padding: initial;
   
   }
   h2 {
    color: #000000;
    font-size: 30px;
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   header {
    color: white;
    background-color: #786B3D;
    padding: 30px 30px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
    h1 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
   p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 10px;
   }
   span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 10px;
   }
   ol {
    font-size: 17px;
   }
    footer {
    background-color: #776837;
    padding: 30px 30px
   }
   a {
    text-decoration: none;
   }
